#list {
    background-color: whitesmoke;
    padding-bottom: 300px;
    padding-top: 20px;
    width: 1000px;
    height: 500px;
    padding-left: 20px;
    display: inline-block;
    margin-left: 350px;
    color: black;
    overflow: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
} 
    
#search-bar{
    background-color: white;
    padding: 10px;
}

#list ul{
    list-style-type: none;
    color: black;
}

#list ul li {
    list-style-type: none;
    color: black;
}

#list li a{
    color:black;
    text-decoration: underline;
}

.container
{
    width: 92%;
    display: table;
    /* margin-left: 6.5%; */
    margin-top: 2%;
}

.containerrow
{
    display:table-row;
}

.dashboardbox
{
    display:table-cell;
    position:absolute;
    width:14%;
    background-color: white;
    font-family: "Rubik", Helvetica;
    padding-left: 0.7%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom:2%;
    margin-right: 2%;
    margin-left: 6.5%;
    list-style: none;
    height: 257.898px;
    width: 176.539px;
}

.dashboardcontent
{
    display:table-cell;
    width:80%;
    font-family: "Rubik", Helvetica;
}

#defaultbutton
{
    background: none;
    border: none;
    cursor: pointer;
    font-family:"Rubik" ;
    font-size:16px;
    
}
.dashboardbox #logout
{
margin-top: -40px;
}
#listEntries {
    color:white;
    margin-left: 500px;
}