
/*Myaccount css*/


/*Dashboard*/
#greet
{
color: white;
font-family: "Rubik", Helvetica;
font-size: large;
margin-left: 6.5%;
margin-top: 3%; 
}
.container
{
    width: 92%;
    display: table;
    margin-left: 6.5%;
    margin-top: 2%;
}
.containerrow
{
    display:table-row;
}

.dashboardbox
{
display:table-cell;
position:absolute;
width:14%;
background-color: white;
font-family: "Rubik", Helvetica;
padding-left: 0.7%;
padding-top: 1%;
padding-right: 1%;
padding-bottom:2%;
margin-right: 2%;
margin-left: 1%;
list-style: none;
}
.dashboardcontent
{
display:table-cell;
width:80%;
font-family: "Rubik", Helvetica;
}
#organizecontent
{
    width:100%;
    height:100%;
}
#dashboardline
{
    margin: 2%,2%;
}

.dashboardcontent #lastproducts
{
    color:white;
    

   
}
.dashboardcontent #lastpurchase
{
    color:white;
 
   
}
.dashboardcontent #Accountinfo
{
    color:white;
    margin-top: 29.5%;
    
}

.dashboardcontent #Addressbook
{
    color:white;
    margin-top: 16%;
    
 
    
}

#shippingbox
{
    padding-left:20%;
}
#defaultbutton
{
    background: none;
    border: none;
    cursor: pointer;
    font-family:"Rubik" ;
    font-size:16px;
    
}
#Editbutton
{
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
#passbutton
{
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
#editaddress
{
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}



.dashboardbox #ul
{
list-style: none;
}


/* List */
.dashboardbox #listt
{
margin-top: 9%;
}
.dashboardbox #dashboard
{
margin-top: 1%;
font-weight: bold;
}
.dashboardbox #logout
{
padding-top: 40%;
}
.dashboardcontent #title
{
color: white;
}


